<div id="<%= dom_id @staff %>">
  <p>
    <strong>名前:</strong>
    <%= @staff.name %>
  </p>
</div>
<div>
  <%= link_to "Edit this staff", edit_staff_path(@staff) %> |
  <%= link_to "Back to staffs", staffs_path %>
  <%= button_to "Destroy this staff", @staff, method: :delete %>
</div>