<%= turbo_frame_tag product_category do %>
  <%= bootstrap_form_with(model: product_category) do |form| %>
    <div class="row py-2 border-top">
      <div class="col-3 my-auto">
        <%= product_category.name %>
      </div>
      <div class="col-3 my-auto">
        <%= product_category.code %>
      </div>
      <div class="col-3 my-auto">
        <%= product_category.tax_type_i18n %>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-end">
          <%= link_to "edit", edit_product_category_path(product_category), class: "btn btn-sm btn-outline-primary me-2" %>
          <%= link_to "delete", product_category, class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
