<div id="<%= dom_id receipt %>">
  <p>
    <strong>Pay type:</strong>
    <%= receipt.pay_type %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= receipt.subtotal %>
  </p>

  <p>
    <strong>Total quantity:</strong>
    <%= receipt.total_quantity %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= receipt.total_amount %>
  </p>

  <p>
    <strong>Tax target 8%:</strong>
    <%= receipt.tax_target_8% %>
  </p>

  <p>
    <strong>Tax amount 8%:</strong>
    <%= receipt.tax_amount_8% %>
  </p>

  <p>
    <strong>Tax target 10%:</strong>
    <%= receipt.tax_target_10% %>
  </p>

  <p>
    <strong>Tax amount 10%:</strong>
    <%= receipt.tax_amount_10% %>
  </p>

  <p>
    <strong>Total discount price:</strong>
    <%= receipt.total_discount_price %>
  </p>

  <p>
    <strong>Credit amount:</strong>
    <%= receipt.credit_amount %>
  </p>

  <p>
    <strong>Change:</strong>
    <%= receipt.change %>
  </p>

  <p>
    <strong>Point target:</strong>
    <%= receipt.point_target %>
  </p>

  <p>
    <strong>Thistime point:</strong>
    <%= receipt.thistime_point %>
  </p>

  <p>
    <strong>Use point:</strong>
    <%= receipt.use_point %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= receipt.memo %>
  </p>

</div>
