<div class="row py-2 border-top">

  <div class="col-1 my-auto">
    <%= receipt.created_at %>
  </div>

  <div class="col-1 my-auto">
    <%= receipt.subtotal %>
  </div>

  <div class="col-1 my-auto">
    <%= receipt.total_discount_price %>
  </div>

  <div class="col-1 my-auto">
    <%= receipt.total_amount %>
  </div>

  <div class="col-1 my-auto">
    <%= receipt.pay_type %>
  </div>

  <div class="col-1 my-auto">
    <%= receipt.cash_amount %>
  </div>

  <div class="col-1 my-auto">
    <%= receipt.change %>
  </div>

  <div class="col-1 my-auto">
    <%= receipt.credit_amount %>
  </div>

  <div class="col- my-auto">
    <div class="d-flex justify-content-end">
      <%= link_to "edit", edit_receipt_path(receipt), class: "btn btn-sm btn-outline-primary me-2" %>
      <%= button_to "delete", receipt, method: :delete, class: "btn btn-sm btn-outline-danger" %>
    </div>
  </div>
</div>
